body{
    margin:0;
    /* background-image: url('https://news.blr.com/app/uploads/sites/6/2018/10/Hiring-Talent-02.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    height:100vh;
}

* {
    box-sizing: border-box;
  }
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  dodgerblue;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: dodgerblue;
    border: transparent;
}

li a:hover {
    opacity: 0.8;
}

a:active, a:hover {
    opacity: 0.8;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  


  .col-20 {
    float: left;
    width: 20%;
    margin-top: 20px;
    margin-left:20px;
  }
  
  .col-60 {
    float: left;
    width: 40%;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  input[type=submit] {
    background-color: dodgerblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin:0px 29px 20px 10px;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }
  
  @media (max-width:320px){ 
      .col-20, .col-60, input[type=submit] {
          width: 100%;
          margin-top: 0;
        }
      }
  
  @media (min-width:321px) and (max-width:768px){
    .col-20, .col-60, input[type=submit] { 
        width: 100%;
        margin-top: 0;
      }
    }
  