
.header {
    padding: 30px 40px;
    text-align: center;
  }
  

input {
    margin: 0;
    border-radius: 0;
    width: 50%;
    padding: 10px;
    float: left;
    font-size: 13px;
  }
  
  .addButton {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0;
  }