.container{
    position:relative;
    border:1px solid white;
    width:500px;
    height:500px;
    left:400px;
    top:100px;

}
.circle1{
    height:200px;
    width:200px;
    border-radius:100px;
    display:inline-block;
    background-color:greenyellow;
    position:absolute;
    left:140px;
}
.circle2{
    display:inline-block;
    height:200px;
    width:200px;
    border-radius:100px;
    background-color:orange;
    position:absolute;
    left:300px;
}
.circle3{
    display:inline-block;
    height:200px;
    width:200px;
    border-radius:100px;
    background-color: pink;
    position:absolute;
    left:220px;
    top:130px;
}